.Home{
  width: 100%;
  height: 100%;
  padding: 0%;
  position: relative;
  overflow-x: hidden;;
}
.Home::-webkit-scrollbar{
  display: none;
}
.Home_header{
  width: 100%;
  min-height: 60vh;
  background-color: var(--color-one);
  padding: 0% 0% 6% 0%;
}

.Home_content_con{
  width: 100%;
  height: 100%; 
  padding: 100px 3% 0px 3%;
  position: relative;
  z-index: 1;
}
.Home_content{
  width: auto;
}
.Home_content h1{
  width: 100%;
  font-size: 8.75rem;
  font-family: 'Clash Grotesk';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-two);
  line-height: 0.9;
}
.Home_content h2{
  width: 100%;
  font-size: 4.375rem;
  color: var(--color-two);
  font-weight: 600;
  font-family: 'Clash Grotesk';
}
.Home_content p{
  width: 60%;
  font-size: 1.5625rem;
  color: var(--color-six);
  font-weight: 500;
  font-family: var(--font-one);
  margin: 0px 0px 30px 0px;
}
.Home_content a{
  background-color: var( --color-three);
  color: var(--color-two);
  text-transform: capitalize;
  padding: 15px 30px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  font-size: 2.4962rem;
  font-family: 'Clash Grotesk';
  transition: opacity 0.2s ease-in-out;
}
.Home_content a:hover{
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.HomeImg_con{
  position: absolute;
  width: 60%;
  right: -5%;
  top: 10%;
  z-index: 99;
}
.HomeImg{
  width: 100%;
  object-fit: cover;
}
.HomeShadow{
  width: 90%;
  text-align: right;
  position: absolute;
}
.favorited .items_icon,
.favorited .pagin_fav_btn {
  color: orange;
}
@media screen  and (max-width: 1200px){
  .Home_header{
    width: 100%;
    min-height: 60vh;
    background-color: var(--color-one);
    padding: 0% 0% 6% 0%;
  }
  .Home_content_con{
    width: 100%;
    height: 100%; 
    padding: 10% 0px 0px 0px;
    position: relative;
  }
  .Home_content{
    width: auto;
    padding: 0px 20px;
  }
  .Home_content h1{
    width: 100%;
    font-size: 7.5rem;
    font-family: 'Clash Grotesk';
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-two);
    line-height: 0.9;
  }
  .Home_content h2{
    width: 100%;
    font-size: 3.125rem;
    color: var(--color-two);
    font-weight: 600;
    font-family: 'Clash Grotesk';
  }
  .Home_content p{
    width: 60%;
    font-size: 1.25rem;
    color: var(--color-six);
    font-weight: 500;
    font-family: var(--font-one);
    margin: 0px 0px 30px 0px;
  }
  .Home_content a{
    background-color: var( --color-three);
    color: var(--color-two);
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: 'Clash Grotesk';
    transition: opacity 0.2s ease-in-out;
  }
  .Home_content a:hover{
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
  }
  .HomeImg_con{
    position: absolute;
    width: 70%;
    height: 400px;
    right: -5%;
    top: 30%;
   }
  .HomeImg{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    position: relative; 
  }
  .HomeShadow{
    width: 90%;
    text-align: right;
    top: 0;
    left: 0;
    position: absolute;
  }  
}
@media screen  and (max-width: 768px){
  .Home_header{
    width: 100%;
    min-height: 65vh;
    max-height: 70vh;
    background-color: var(--color-one);
    padding: 0% 0% 6% 0%;
  }
  .Home_content_con{
    width: 100%;
    height: 100%; 
    padding: 10% 0px 0px 0px;
    position: relative;
  }
  .Home_content{
    width: auto;
    padding: 10px 20px 0px 20px;

  }
  .Home_content h1{
    width: 100%;
    font-size: 3.125rem;
    font-family: 'Clash Grotesk';
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-two);
    line-height: 0.9;
  }
  .Home_content h2{
    width: 100%;
    font-size: 1.563rem;
    color: var(--color-two);
    font-weight: 600;
    font-family: 'Clash Grotesk';
  }
  .Home_content p{
    width: 80%;
    font-size: 0.813rem;
    color: var(--color-six);
    font-weight: 500;
    font-family: var(--font-one);
    margin: 0px 0px 30px 0px;
  }
  .Home_content a{
    background-color: var( --color-three);
    color: var(--color-two);
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: 'Clash Grotesk';
    transition: opacity 0.2s ease-in-out;
  }
  .Home_content a:hover{
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
  }
  .HomeImg_con{
    position: absolute;
    width: 100%;
    max-height: 400px;
    right: 0%;
    top: 70%;
  }
  .HomeImg{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    position: relative;

  }
  .HomeShadow{
    width: 90%;
    text-align: right;
    position: absolute;
  } 
}
/*************************************************************************/
.New_product_sec{
  padding: 10% 3% 0% 3%;
}
.New_product_sec h2{
  font-family: 'Clash Grotesk';
  font-size: 2.625rem;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
.premium_item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 0px 0px 10px 0px;
}
.Pre_products{
  width: calc(100%/ 3);
  min-width: 300px;
  position: relative;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #0000001A;
}
.add_to_btn{
  color: var(--color-one);
}
.add_to_btn:hover{
  background-color: var(--color-three);
  color: var(--color-two);
  transition: background-color 0.2s ease-in-out;
}
.pre_pro_imgCon{
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  position: relative;
}
.pre_pro_imgCon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.add_to_btn{
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: var(--color-two);
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Clash Grotesk';
  transition: background-color 0.2s ease-in-out;
}
.pro_details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro_details p{
  color: var(--color-one);
  font-size: 1.1rem;
  font-family: var(--font-one);
  font-weight: 500;
}
.pro_details h3{
  color: var(--color-three);
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 1.775rem;
}
.control_btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}
.control_btn button{
  width: 30px;
  height: 30px;
  background-color: var(--color-one);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
@media screen  and (max-width: 1200px){
  .New_product_sec{
    padding: 15% 5% 5% 5%;
  }
  .New_product_sec h2{
    font-family: 'Clash Grotesk';
    font-size: 2.375rem;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
  }
  .premium_item{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: 'nowrap';
    scroll-snap-type: X mandatory;
    justify-content: space-between;
    gap: 30px;
  }
  .premium_item::-webkit-scrollbar{
    display: none;
  }
  .Pre_products{
    width: calc(100%/2);
    min-width: 400px;
    scroll-snap-align: start;
    position: relative;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
    box-shadow: 5px 5px 10px #0000001A;
  }
  
  .add_to_btn:hover{
    background-color: var(--color-three);
    color: var(--color-two);
    transition: background-color 0.2s ease-in-out;
  }
  .pre_pro_imgCon{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    position: relative;
  }
  .pre_pro_imgCon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .add_to_btn{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: var(--color-two);
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Clash Grotesk';
    transition: background-color 0.2s ease-in-out;
  }
  .pro_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pro_details p{
    color: var(--color-one);
    font-size: 1rem;
    font-family: var(--font-one);
    font-weight: 500;
  }
  .pro_details h3{
    color: var(--color-three);
    font-family: var(--font-one);
    font-weight: 600;
    font-size: 1.575rem;
  }
  .control_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
  }
}
@media screen  and (max-width: 768px){
  .New_product_sec{
    padding: 30% 5% 10% 5%;
  }
  .New_product_sec h2{
    font-family: 'Clash Grotesk';
    font-size: 1.25rem;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
  }
  .premium_item{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: X mandatory;
    justify-content: space-between;
    gap: 30px;
    padding: 5px 0px;
  }
  .premium_item::-webkit-scrollbar{
    display: none;
  }
  .Pre_products{
    width: calc(100%);
    scroll-snap-align: start;
    min-width: 100%;
    position: relative;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
    box-shadow: 2px 2px 10px #0000001A;
  }
  
  .add_to_btn:hover{
    background-color: var(--color-three);
    color: var(--color-two);
    transition: background-color 0.2s ease-in-out;
  }
  .pre_pro_imgCon{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    position: relative;
  }
  .pre_pro_imgCon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .add_to_btn{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: var(--color-two);
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Clash Grotesk';
    transition: background-color 0.2s ease-in-out;
  }
  .pro_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pro_details p{
    color: var(--color-one);
    font-size: 1rem;
    font-family: var(--font-one);
    font-weight: 500;
  }
  .pro_details h3{
    color: var(--color-three);
    font-family: var(--font-one);
    font-weight: 600;
    font-size: 0.975rem;
  }
  .control_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
  }
  .control_btn button{
    width: 30px;
    height: 30px;
    background-color: var(--color-one);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*******************************************************************************/
.All_product{
  width: 100%;
  padding: 5% 0%;
}
.All_pro_heading{
  font-family: 'Clash Grotesk';
  font-weight: 600;
  color: var(--color-one);
  font-size: 2.625rem;
  margin: 0px 0px 25px 0px;
  padding: 0px 5%;
}
.category_nav{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 0px 40px 0px;
  padding: 0px 5%;
}
.category_nav a{
  text-decoration: none;
  background-color: var(--color-three);
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 28px;
  border-radius: 10px;
}
.category_nav a img{
  object-fit: contain;
  width: 35px;
  height: 30px;
  object-fit: cover;
}
.category_btn_con{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  gap: 30px;
}
.category_btn_con::-webkit-scrollbar{
  display: none;
}
.category_btn_con button{
  font-size: 1.5rem;
  padding: 6px 20px;
  background-color:rgba(234, 229, 229, 1);
  border: none;
  color: var(--color-one);
  font-family: var(--font-one);
  font-weight: 600;
  white-space: nowrap;
  border-radius: 10px;
}
.category_btn_con button:hover{
  background-color: var(--color-three);
  color: var(--color-two);
}
.category_btn_con button.active{
  background-color: var(--color-three);
  color: var(--color-two);
}

.pre_item{
  width: 100%;
  padding: 0px 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0px 0px 5% 0px;
}
.items_con{
  width: 100%;
  box-shadow: 0px 0px 3px var(--color-five);
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
}
.items_header{
  width: 100%;
}
.items_ty_con{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items_ty_con p{
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--font-one);
  color: var(--color-two);
  background-color: var(--color-one);
  text-transform: uppercase;
  padding: 4px 6px;
  border-radius: 12px;
}
.items_ty_con button{
  background-color: transparent;
  border: none;
  color: var(--color-one);
}
.items_icon{
  font-size: 1.8rem;

}
.New_item_img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  mix-blend-mode:darken;
}
.items_body h2{
  width: 100%;
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-size: 1.813rem;
  font-weight: 500;
  font-family: 'Clash Grotesk';
  color: var( --border-col);
  text-transform: capitalize;
}
.pC{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.pC h3{
  color: var();
  font-size: 1.813rem;
  font-family: 700;
  font-family: var(--font-one);
}
.items_color_con{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 5%;
}
.items_color_con button{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}
.items_color_con button:nth-child(1){
  background-color: var(--color-one);
}
.items_color_con button:nth-child(2){
  background-color: var(--color-two);
  border: 1px solid var(--color-one);
}
.items_color_con button:nth-child(3){
  background-color: var(--color-three);
}
.items_color_con button:nth-child(1){
  background-color: var(--color-five);
}
.BC{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}
.BC button{
  background-color: transparent;
  border: none;
}
.BC button:hover{
  opacity: 0.7;
}
.BC button:nth-child(2){
  background-color: var(--color-three);
  padding: 12px 20px;
  color: var(--color-two);
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.BC button .bookmark{
  font-size: 1.72rem;
  color: var(--color-one);
  border-radius: 5px;
}


.hero_page{
  width: 100%;
  min-height: 50vh;
  background: linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/public/images/hero.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_content{
  display: flex;
  align-items: center;
  font-family: 'Clash Grotesk';
  gap: 20px;
}
.hero_content h1{
  font-size: 3.75rem;
  color: var(--color-two);
  font-weight: 600;
}
.hero_content a{
  text-decoration: none;
  font-size: 1.813rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-two);
  border: 1px solid var(--color-three);
  padding: 15px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.hero_content a:hover{
 background-color: var(--color-three);
 transition: background-color 0.2s ease-in-out;
}




.pagination_item_con{
  width: 100%;
  padding: 5% 5%;
}
.pagination_item_wrap{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.paginationItem{
  width: calc(100%/3);
  box-shadow: 0px 0px 3px var(--color-five);
  padding: 20px;
  border-radius: 10px;
}
.pagin_item_head{
  width: 100%;
}
.pagin_fav_con{
  width: 100%;
  text-align: right;
}
.pagin_fav_con button{
  border: none;
  background-color: transparent;
  color: var(--color-one);
}
.pagin_item_head .pagin_fav_btn{
  text-align: right;
  font-size: 1.8rem;
}

.paginItemImage{
  display: block;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.paginationItem h2{
  width: 100%;
  text-align: center;
  font-size: 1.813rem;
  text-transform: capitalize;
  font-family: 'Clash Grotesk';
  font-weight: 500;
  color: var(--border-col);
  margin: 0px 0px 10px 0px;
}

.pagC{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}
.pagC h3{
  color: var();
  font-size: 1.813rem;
  font-family: 700;
  font-family: var(--font-one);
}
.pag_item_con{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 5%;
}
.pag_item_con button{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}
.pag_item_con button:nth-child(1){
  background-color: var(--color-one);
}
.pag_item_con button:nth-child(2){
  background-color: var(--color-two);
  border: 1px solid var(--color-one);
}
.pag_item_con button:nth-child(3){
  background-color: var(--color-three);
}
.pag_item_con button:nth-child(1){
  background-color: var(--color-five);
}
.BodC{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}
.BodC button{
  background-color: transparent;
  border: none;
}
.BodC button:hover{
  opacity: 0.7;
}
.BodC button:nth-child(2){
  background-color: var(--color-three);
  padding: 12px 20px;
  color: var(--color-two);
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.BodC button .bookmark{
  font-size: 1.72rem;
  color: var(--color-one);
  border-radius: 5px;
}

.pagination_btn_con{
  width: 100%;
  text-align: center;
  margin: 0px 0px 5% 0px;
}
.pagination_btn_con button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-two);
  font-weight: 400;
  border: none;
  box-shadow: 0px 0px 3px var(--color-five);
  margin: 10px;
  color: var(--color-five);
}
.pagination_btn_con button:hover {
  background-color: black;
  color: white;
}
.pagination_btn_con button.active {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1200px) {
  .pre_item {
    grid-template-columns: repeat(2, 1fr);
  }
  .pagination_item_wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 15px;
  }
  .paginationItem{
    width: calc(100%);
    box-shadow: 0px 0px 3px var(--color-five);
    padding: 20px;
    border-radius: 10px;
  }
  .All_pro_heading{
    font-family: 'Clash Grotesk';
    font-weight: 600;
    color: var(--color-one);
    font-size: 2.375rem;
    margin: 0px 0px 25px 0px;
    padding: 0px 5%;
  }
  .pagination_item_con{
    width: 100%;
    padding: 5% 5%;
  }

  .category_btn_con button{
    font-size: 1.5rem;
    padding: 6px 20px;
    background-color:rgba(234, 229, 229, 1);
    border: none;
    color: var(--color-one);
    font-family: var(--font-one);
    font-weight: 600;
    white-space: nowrap;
    border-radius: 10px;
  }
  .category_nav a img{
    object-fit: contain;
    width: 35px;
    height: 23px;
    object-fit: cover;
  }
  .items_ty_con p{
    font-size: 0.813rem;
  }
  .pC h3{
    color: var();
    font-size: 1.288rem;
  }
  .pagC h3{
    color: var();
    font-size: 1.288rem;
    font-family: 700;
    font-family: var(--font-one);
  }
}

@media screen and (max-width: 768px) {
  .pre_item {
    grid-template-columns: 1fr; 
  }
  .All_pro_heading{
    font-family: 'Clash Grotesk';
    font-weight: 600;
    color: var(--color-one);
    font-size: 1.25rem;
    margin: 0px 0px 25px 0px;
    padding: 0px 5%;
  }
  .pagination_item_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }
  .category_btn_con button{
    font-size: 1.25rem;
    padding: 6px 20px;
    background-color:rgba(234, 229, 229, 1);
    border: none;
    color: var(--color-one);
    font-family: var(--font-one);
    font-weight: 600;
    white-space: nowrap;
    border-radius: 10px;
  }
  .paginationItem{
    width: calc(100%);
    box-shadow: 0px 0px 3px var(--color-five);
    padding: 20px;
    border-radius: 10px;
  }
  .category_btn_con {
    flex-wrap: nowrap;
  }

  .hero_content {
    flex-direction: column; 
    text-align: center;
  }

  .hero_content h1 {
    font-size: 2.5rem; /* Decrease hero heading font size */
  }

  .hero_content a {
    padding: 12px 16px; /* Adjust padding on hero button */
  }
}