@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Clash Grotesk';
  src: url('/src/font_cg/ClashGrotesk-Medium.ttf') format('truetype');
}
html{
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --color-one: #1D1D1D;
  --color-two: #FFFFFF;
  --color-three:#FF5800;
  --color-four: #1E1717;
  --border-col: 0.6px solid #000000;
  --shadow-col: #F6242433;
  --color-five: #767575;
  --color-six: #B4AFAF;
  --font-one: "Montserrat", sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
